@font-face {
    font-family: "Beaufort";
    src: url("./font/BeaufortforLOL-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Beaufort-reg";
    src: url("./font/BeaufortforLOL-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Beaufort-med-italic";
    src: url("./font/BeaufortforLOL-MediumItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Beaufort-med";
    src: url("./font/BeaufortforLOL-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Beaufort-heavy";
    src: url("./font/BeaufortforLOL-Heavy.ttf") format("truetype");
}


body {
    font-family: 'Arial', 'sans-serif';
    font-size: 16px;
    color: #E4C678;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background : #1E212D
}

header {
    padding: 25px 100px;
    text-align: center;
}

main {
    height: 100%;
    padding-right: 25px;
}
p{
    font-family: 'Beaufort-med-italic';
    padding: 4px;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.viz-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.xy {
    cursor: default;
}

h1 {
    font-family: 'Beaufort';
    font-size: 56px;
    margin: 0;
    font-weight: normal;
    color: #E4C678;
}

h2 {
    font-family: 'Beaufort-heavy';
    font-weight: normal;
    color: #E4C678;
}
label{
    font-family: 'Beaufort-med';
    padding: 4px;

}
.small-dropdown {
    font-family: 'Beaufort-reg';
    font-size: 20px;
    background-color: #1E1E11;
    border-radius: 5px;
    width: 180px;
    padding: 4px;
    color: #E4C678;
}

/* react-select styles override */
.small-dropdown .Select-control {
    background-color: #1E1E11 !important;
    border: 1px solid #ccc !important;
    box-shadow: navajowhite !important;
}

.small-dropdown .Select-placeholder,
.small-dropdown .Select-value {
    color: #E4C678 !important;
    width: 160px;
}

.small-dropdown .VirtualizedSelectOption {
    background-color: #1E1E11;
    color: #E4C678;
    font-size: 20px;
    padding: 6px 10px;
}

.small-dropdown .VirtualizedSelectOption:hover {
    background-color: #444 !important;
    cursor: pointer;
}

.dash-spinner {
    color: #FF4081 !important;
}

.gpt-summary{
    
}


